<script>
window.onload = function() {
  const loadingScreen = document.querySelector('.loading-screen');
  const logo = document.querySelector('.logo');
  
  // Set timeout to match the animation duration (3 seconds)
  setTimeout(() => {
    logo.style.opacity = '0'; // Start fading out the logo
    loadingScreen.classList.add('hidden'); // Add hidden class to fade out loading screen
  }, 1000);
};

  </script>

<!-- Footer -->
<footer id="page-footer" class="bg-body-white">
  <div class="content py-0">
    <div class="row fs-sm">
      <div class="col-sm-6 order-sm-2 mb-1 mb-sm-0 text-center text-sm-end">
        <%= __('footer.developed') %></i> <%= __('footer.by') %> <a class="fw-semibold" href="#" target="_blank">3Core Leaderstech</a>
      </div>
      <div class="col-sm-6 order-sm-1 text-center text-sm-start">
        <a class="fw-semibold" href="#" target="_blank">Demo</a> &copy; <span data-toggle="year-copy"></span>
      </div>
    </div>
  </div>
</footer>
<!-- END Footer -->

<!-- END Page Container -->

<script src="/assets/js/dashmix.app.min.js"></script>

<!-- jQuery (required for DataTables plugin) -->
<script src="/assets/js/lib/jquery.min.js"></script>

<!-- Page JS Plugins -->
 
<script src="/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="/assets/js/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/plugins/datatables-buttons/dataTables.buttons.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>