<div class="modal fade" id="modal-edit-expense-category" role="dialog" aria-labelledby="modal-default-popout"
    aria-hidden="true" data-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">


            <div class="modal-header bg-primary">

                <h5 class="block-title text-white"><%= __('modal_edit_expense_category.edit_category') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">
                <form id="edit_expense_category">
                    <div class="block-content">
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="txtCategory" placeholder="<%= __('modal_edit_expense_category.category_placeholder') %>" id="txtCategory" />
                            </div>
                        </div>                    
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <select class="form-select" name="txtType" id="txtType" required>
                                    <option value="" disabled selected>Select Type</option>
                                    <option value="1">Goods / Consumables</option>
                                    <option value="2">Non-goods / Services</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-primary" data-bs-dismiss="modal"><%= __('modal_edit_expense_category.save') %></button>
                        <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal"><%= __('modal_edit_expense_category.close') %></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>