<div class="modal fade" id="modal-add-rolling" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLiveLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		<div class="modal-header bg-primary">
			<h5 class="modal-title text-white" id="staticBackdropLiveLabel">Add Rolling</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<form id="add_rolling">
		<div class="modal-body">
			<input type="hidden" name="game_id" class="game_list_id">
				<div class="row mb-2">
					<div class="col-sm-6">
						<input type="text" onkeypress="return onlyNumberKey(event)" data-type="number" class="form-control text-center txtNN" placeholder="NN Chips" name="txtNN">
					</div>
					<div class="col-sm-6">
						<input type="text" onkeypress="return onlyNumberKey(event)" data-type="number" class="form-control text-center txtCC" placeholder="CC Chips" name="txtCC">
					</div>
				</div>
		</div>
		<div class="modal-footer">
			<button type="submit" id="submit-rolling-btn" class="btn btn-sm btn-primary" data-bs-dismiss="modal">
				Save
			</button>
			<button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">
				Close
			</button>
		</div>
		</div>
	</div>
	</form>
	</div>