<!-- MODAL -->
<div class="modal fade" id="modal-stats" role="dialog" aria-labelledby="modal-default-popout" aria-hidden="true" data-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="block block-rounded block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title">CREATE</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <style>
                    .modal-lg {
                        max-width: 70%; /* Adjust the width as needed */
                        width: auto; /* Optional: let it auto adjust */
                        margin: auto; /* Center the modal */
                    }
                </style>
                <form id="add_stats" action="/add_stats" method="POST">
                    <div class="block-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">GAME TYPE</th>
                                    <th class="text-center">BUY-IN</th>
                                    <th class="text-center">WIN/LOSS</th>
                                    <th class="text-center">ROLLING</th>
                                    <th class="text-center">COMMISSION</th>
                                    <th class="text-center">HOUSE SHARE(%)</th>
                                    <th class="text-center">NGR</th>
                                    <th class="text-center">RTP</th>
                                    <th class="text-center">RM</th>
                                    <th class="text-center">EXPENSE</th>
                                    <th class="text-center">PROFIT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" name="game_type" required></td>
                                    <td><input type="text" class="form-control" name="buy_in" required></td>
                                    <td><input type="text" class="form-control" name="win_loss" required></td>
                                    <td><input type="text" class="form-control" name="rolling" required></td>
                                    <td><input type="text" class="form-control" name="commission" required></td>
                                    <td><input type="text" class="form-control" name="house_share" required></td>
                                    <td><input type="text" class="form-control" name="ngr" required></td>
                                    <td><input type="text" class="form-control" name="rtp" required></td>
                                    <td><input type="text" class="form-control" name="rm" required></td>
                                    <td><input type="text" class="form-control" name="expense" required></td>
                                    <td><input type="text" class="form-control" name="profit" required></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block-content block-content-full text-end bg-body">
                        <button type="submit" class="btn btn-sm btn-primary">Save</button>
                        <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
