<!-- Transaction History Modal -->
<div class="modal fade" id="modal-transaction-history" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white">
          <i class="fa fa-history me-2"></i>Transaction History
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table  nowrap small-text" style="width:100%" id="history-tbl">
            <thead class="table-light">
              <tr>
                <th style="width: 160px;">Date</th>
                <th style="width: 180px;">Account</th>
                <th style="width: 120px;">Transaction</th>
                <th class="text-end" style="width: 120px;">Amount</th>
                <th class="text-end" style="width: 140px;">Balance Before</th>
                <th class="text-end" style="width: 140px;">Balance After</th>
                <th style="width: 160px;">Processed By</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

