<div class="modal fade" id="modal-update-houseshare" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLiveLabel" aria-hidden="true">
	<div class="modal-dialog  modal-dialog-centered">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="staticBackdropLiveLabel">Add House Share</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<form id="update_house_share">
		<div class="modal-body">
			<input type="hidden" name="game_type" id="game_type">
			<div class="row mb-2">
				<div class="col-sm-12">
					<input type="text" class="form-control text-center txtExpense" placeholder="Amount" name="txtHouseShare" id="txtHouseShare">
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-sm btn-primary" >
				Save
			</button>
			<button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">
				Close
			</button>
		</div>
		</div>
		</form>
	</div>
	</div>

<style>
	.modal-md {
		max-width: 20%;
	}
</style>